@model IEnumerable<DemoApp.Web.Models.ProductViewModel>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
    ViewData["Title"] = "Index";
    var errorCode = @HttpContextAccessor.HttpContext.Session.GetInt32("ErrorCode");
    var message = @HttpContextAccessor.HttpContext.Session.GetString("Message");
    @HttpContextAccessor.HttpContext.Session.Clear();


    if (null != errorCode)
    {
        @section scripts{
            <script type="text/javascript">
                ManageMessage(@errorCode, "@message");
            </script>
        }
    }
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
    <a class="btn btn-warning" asp-action="List">Jquery DataTable List</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalAmount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastModifiedOn)
            </th>

            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.ProductCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Manufacturer)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TotalAmount)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CreatedOn)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastModifiedOn)
                </td>

                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.PId }) |
                    @Html.ActionLink("Details", "Details", new { id = item.PId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.PId })
                </td>
            </tr>
        }
    </tbody>
</table>
